language: python
python: 3.9
cache:
  pip: true
  directories:
    - $HOME/.cache/pkgcheck
    - $HOME/.cache/pkgcore

install:
  - pip install pkgcheck
before_script:
  # force PATH to include pip installed executables
  - sudo env "PATH=$PATH" pmaint sync gentoo
  # regenerate metadata
  - sudo env "PATH=$PATH" pmaint regen --dir "$HOME/.cache/pkgcheck/repos" .
script:
  # run as root to support squashfs repo mounting
  - sudo env "PATH=$PATH" pkgcheck --color y scan --exit
